<template>
  <h1>Nouvelle Blague</h1>

  <BlagueForm />
</template>

<script setup lang="ts">
import BlagueForm from '@/components/BlagueForm.vue'
import type { blagues } from '@/entities'
import { postBlague } from '@/service/blagues-service'
import { useRouter } from 'vue-router'

const router = useRouter()
</script>

<style scoped>
h1 {
  color: #909fd6;
  font-family: 'Irish Grover';
  display: flex;
  justify-content: center;
  margin-bottom: 5vh;
}
</style>
