<template>
  <div class="liste-blagues">
    <div v-if="loading">Loading...</div>
    <div v-else class="row">
      <template v-for="blague of listeBlaguesParCategorie" :key="blague.id">
        <BlagueCard :blagueItem="blague" />
      </template>
    </div>
  </div>
</template>

<script setup lang="ts">
import BlagueCard from '@/components/BlagueCard.vue'
import { fetchBlaguesByCategorieId } from '@/service/blagues-service'
import { ref, onMounted, onUpdated, watch } from 'vue'
import { useRoute, useRouter } from 'vue-router'
import type { blagues } from '@/entities'

const route = useRoute()
const listeBlaguesParCategorie = ref<blagues[]>([])
const loading = ref(true)
const router = useRouter()

onMounted(async () => {
  await refreshData()
})
watch(
  () => route.params.idCategorie,
  async () => {
    await refreshData()
  }
)
async function refreshData() {
  loading.value = true
  listeBlaguesParCategorie.value = await fetchBlaguesByCategorieId(Number.parseInt(route.params.idCategorie as string))
  loading.value = false
}
</script>
