<template>
    <form @submit.prevent="handleSignup()">
        <label>Email :
            <input type="email" v-model="email">
        </label>

        <label>Password :
            <input type="password" v-model="password">
        </label>
        <button>Sign up</button>
    </form>
    <div>
        <a> <RouterLink :to="'/login'" class="nav-link">Déjà un compte ?</RouterLink> </a>
    </div>
</template>


<script setup lang="ts">
import { useAuth } from '@/stores/auth';
import { ref } from 'vue';
import { useRouter } from 'vue-router';

const router = useRouter();
const auth = useAuth();
const email = ref('');
const password = ref('');

async function handleSignup() {
    const newUser = {
        email: email.value,
        password: password.value,
    };

    try {
        await auth.signup(newUser);
        router.back(); 
    } catch (error) {
        console.error('Signup error:', error);
    }
}

</script>

<style scoped>
form{
    margin-top: 3vh;
    margin-bottom: 3vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 30vh;
    font-family: 'Irish Grover';
}
label{
    display: flex;
    flex-direction: column;
    color:#D69090;
    font-size: 1,8em;
}

button{
    border-radius: 50%;
    height: 4em;
    width: 4em;
    background: radial-gradient(circle at 20% 50%, #909FD6, #D69090);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.2s;
    color: white;
}
button:hover {
  cursor: pointer;
  transform: scale(1.2);
}
div{
    display: flex;
    justify-content: center;
    color: #909FD6;
    font-family: 'Irish Grover';
    font-style: italic;
}
</style>