<template>
  <div id="tout" class="row justify-content-center">
    <div id="content" class="col-lg-4 col-md-6 mb-4" v-for="categories of categorie" :key="categories.id">
      <div class="card text-center mx-auto" @click="redirectToBlagues(categories.id)">
        <h4 class="card-title">{{ categories.name }}</h4>
        <p class="card-text">{{ categories.description }}</p>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import type { categories } from '@/entities'
import router from '@/router'
import { fetchCategorie } from '@/service/categories-service'
import { onMounted, ref } from 'vue'

const categorie = ref<categories[]>([])

onMounted(async () => {
  categorie.value = await fetchCategorie()
})

async function redirectToBlagues(id_categorie: number) {
  router.push({ name: 'liste-blague-par-categorie', params: { idCategorie: id_categorie } })
}
</script>

<style scoped>
#content {
  margin-top: 8vh;
  margin-bottom: 10vh;
}

.card {
  padding: 1em;
  font-family: 'Irish Grover';
  display: block;
  border-radius: 50%;
  height: 20em;
  width: 20em;
  margin: 0;
  background: radial-gradient(circle at 50% 50%, #d69090, #909fd6);
  margin-bottom: 2%;
  transition: transform 0.2s;
}
.card:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.card-title {
  font-size: 2em;
  margin-bottom: 1em;
  margin-top: 2.3em;
  color: white;
}
.card-text {
  font-size: 1.2em;
  margin-bottom: 2em;
}
</style>
