<template>
    <form @submit.prevent="handleLogin()">
        <label>Email :
            <input type="email" v-model="email">
        </label>

        <label>Password :
            <input type="password" v-model="password">
        </label>
        <button>Login</button>
    </form>
    <div>
        <a> <RouterLink :to="'/signup'" class="nav-link">Pas encore de compte ?</RouterLink> </a>
    </div>
</template>

<script setup lang="ts">
import { useAuth } from '@/stores/auth';
import { ref } from 'vue';
import { useRouter } from 'vue-router';

const router = useRouter();
const auth = useAuth();
const email = ref('');
const password = ref('');

async function handleLogin() {
    await auth.login(email.value, password.value);
    router.back();
}

</script>

<style scoped>
form{
    margin-top: 3vh;
    margin-bottom: 3vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 30vh;
    font-family: 'Irish Grover';
}
label{
    display: flex;
    flex-direction: column;
    color: #909FD6;
    font-size: 1,8em;
}

button{
    border-radius: 50%;
    height: 4em;
    width: 4em;
    background: radial-gradient(circle at 20% 50%, #D69090, #909FD6);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.2s;
    color: white;
}
button:hover {
  cursor: pointer;
  transform: scale(1.2);
}
div{
    display: flex;
    justify-content: center;
    color: #D69090;
    font-family: 'Irish Grover';
    font-style: italic;
}
</style>