<template>
  <form @submit.prevent="handleSubmit()">
    <div>
      <label>
        Catégorie:
        <select id="categorieForm" class="form-control" v-model="newBlague.id_categories" placeholder="Categorie de la blague">
          <option v-for="categorie in listeCategories" :key="categorie.id" :value="categorie.id">{{ categorie.name }}</option>
        </select>
      </label>
    </div>
    <div>
      <label>
        <textarea class="form-control" v-model="newBlague.content" placeholder="Contenu de la blague..."></textarea>
      </label>
    </div>
    <button class="btn btn-primary">Submit</button>
  </form>
</template>

<script setup lang="ts">
import { postBlague } from '@/service/blagues-service'
import type { blagues, categories } from '@/entities'
import { onMounted, ref } from 'vue'
import { useRouter } from 'vue-router'
import { fetchCategorie } from '@/service/categories-service'

const listeCategories = ref<categories[]>([])
onMounted(async () => {
  listeCategories.value = await fetchCategorie()
})
let id_categories = ref()
id_categories.value = 1

const router = useRouter()

const newBlague = ref<blagues>({
  content: '',
  id_categories: 0
})

async function handleSubmit() {
  await postBlague(newBlague.value)
  router.push({ name: 'liste-blague-par-categorie', params: { idCategorie: newBlague.value.id_categories } })
}
</script>

<style scoped>
label {
  color: #909fd6;
  font-size: x-large;
}

.form-control {
  color: black;
}

form {
  display: flex;
  flex-direction: column;
  font-family: 'Irish Grover';
  margin-left: 25vw;
}

#categorieForm {
  margin-bottom: 5vh;
}
textarea {
  height: 30vh;
  width: 50vw;
}
button {
  height: 8vh;
  width: 15vw;
  margin-top: 5vh;
  font-size: x-large;
  background-color: #909fd6;
  border: none;
}
</style>
