<template>
  <div class="card col-md-6 col-lg-4 h-100" id="all-cards">
    <div class="card-body">
      <h4 class="card-title">{{ blagueItem.categories.name }}</h4>
      <p class="card-text">{{ blagueItem.content }}</p>
    </div>
    <button class="btn btn-danger" @click="handleDelete()">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
        <path
          d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5"
        />
      </svg>
    </button>
  </div>
</template>

<script setup lang="ts">
import router from '@/router'
import { deleteBlague } from '@/service/blagues-service'
import { onMounted } from 'vue'

const props = defineProps({
  blagueItem: {
    required: true,
    type: Object
  }
})
onMounted(async () => {})
async function handleDelete() {
  await deleteBlague(props.blagueItem.id)
  router.push({ name: 'home' })
}
</script>

<style scoped>
#all-cards {
  margin-top: 6vh;
  margin-bottom: 6vh;
  margin-left: 10vw;
}
.card-body {
  margin-top: 30px;
  font-family: 'Irish Grover';
}

.card {
  border: none;
  border-radius: 20px;
  background: radial-gradient(circle at 50% 50%, #d69090, #909fd6);
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  margin-right: 1em;
}

.card:hover {
  transform: scale(1.02);
}

.card-title {
  font-size: 1.5em;
  font-weight: bold;
  color: white;
}

.card-text {
  font-size: 1.2em;
  color: black;
  margin-bottom: 0;
}

button {
  border-radius: 50%;
  background: none;
  border: none;
  width: 3vw;
  margin-bottom: 1vh;
  display: flex;
  align-self: flex-end;
  justify-content: center;
}
</style>
