<template>
<link href='https://fonts.googleapis.com/css?family=Irish Grover' rel='stylesheet'>
    <footer class="footer">
      <div class="container py-4">
        <div class="row">
          <div class="col-md-6">
            <h5>Contactez-nous</h5>
            <p>N'hésitez pas à nous contacter pour des questions, des suggestions ou simplement pour dire bonjour !</p>
            <ul class="list-unstyled">
              <li>Email: contact@exemple.com</li>
              <li>Téléphone: +123456789</li>
            </ul>
          </div>
          <div class="col-md-6">
            <h5>Tu n'en as pas eu assez?</h5>
            <ul class="list-unstyled">
              <li><a href="https://www.facebook.com/humourdechats/?locale=fr_FR" class="reseaux">Facebook</a></li>
              <li><a href="https://twitter.com/PunchingCat?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" class="reseaux">Twitter</a></li>
              <li><a href="https://www.instagram.com/cat_real_lover/" class="reseaux">Instagram</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="text-center ">
        <p>&copy; 2024 ByRD - Tous droits réservés</p>
      </div>
    </footer>
  </template>


<style scoped>
.footer {
  background-color: #909FD6; 
  border-top: 1vh solid #fff; 
  border-bottom: 1vh solid #909FD6; 
  font-family: 'Irish Grover';
  margin-top: 3vh;
  color:#fff;
}

.footer h5 {
  font-size: 1.5em; 
}
.reseaux {
  text-decoration: none;
  color: #f8f9fa;
  font-size: 1.3em;
}
.footer p {
  font-size: 1.3em; 
}
</style>