<template>
  <header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <RouterLink class="navbar-brand" to="/">Find your joke </RouterLink>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="categorie" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Catégories </a>
            <ul class="dropdown-menu">
              <li v-for="categorie of listeCategories" :key="categorie.id">
                <RouterLink class="dropdown-item nav-link activ" :to="{ name: 'liste-blague-par-categorie', params: { idCategorie: categorie.id } }">
                  {{ categorie.name }}
                </RouterLink>
              </li>
            </ul>
          </li>
          <li class="nav-item" id="new">
            <RouterLink :to="'/add-blague'" class="nav-link" id="post">Nouvelle blague</RouterLink>
          </li>
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Rechercher..." aria-label="Search" />
            <button class="btn btn-outline-success" type="submit" id="btnrecherche">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                <path
                  d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"
                />
              </svg>
            </button>
          </form>
          <li class="nav-item" id="connexion">
            <RouterLink :to="'/login'" class="nav-link" id="post">Connexion</RouterLink>
          </li>
        </div>
      </div>
    </nav>
  </header>
</template>

<script setup lang="ts">
import { onMounted, ref } from 'vue'
import type { categories } from '@/entities'
import { fetchCategorie } from '@/service/categories-service'

import { RouterLink } from 'vue-router'

const listeCategories = ref<categories[]>([])
onMounted(async () => {
  listeCategories.value = await fetchCategorie()
})
</script>

<style scoped>
li {
  list-style-type: none;
}
header {
  font-family: 'Irish Grover';
  font-size: 28px;
}
.navbar-brand {
  margin-left: 3em;
  color: white;
  font-size: 3.5vh;
  font-size: 38px;
  transition: transform 0.2s;
}
.navbar-brand:hover {
  cursor: pointer;
  transform: scale(1.2);
}
.container-fluid {
  background-color: black;
}
#categorie {
  color: #d69090;
}
#connexion {
  color: #d69090;
}

#connexion:hover {
  cursor: pointer;
  color: white;
}

#categorie:hover {
  cursor: pointer;
  color: white;
}

.dropdown-item {
  color: #d69090;
  height: 5vh;
  width: 12vw;
  display: flex;
  align-items: center;
  justify-content: center;
  border-color: white;
}
#navbarSupportedContent {
  display: flex;
  justify-content: space-around;
}
#new {
  color: #909fd6;
}
#new:hover {
  cursor: pointer;
  color: white;
}
.dropdown-menu {
  background-color: black;
}
.dropdown-item {
  font-size: 22px;
}

.btnrecherche {
  margin-right: 0%;
  display: flex;
}
</style>
