<script setup lang="ts">
import { RouterView } from 'vue-router'
import Header from '@/components/Header.vue'
import Footer from '@/components/Footer.vue'
</script>

<template>
  <div class="page">
    <Header />

    <div class="container-fluid">
      <RouterView />
    </div>

    <Footer />
  </div>
</template>

<style scoped>
.page {
  background-color: black;
}

.container-lg {
  background-color: black;
}
</style>
